
.clt-DetailPage {
  width: 100%;

  &-container {
    display: flex;
  }

  &-left {
    display: flex;
    justify-content: center;
    width: 70%;
  }

  &-right {
    width: 30%;
  }

  &-right {
    margin-left: 15px;
  }

  .ant-row {
    margin-bottom: 20px;
  }

  .ant-col {
    h2 {
      margin-bottom: 10px;
    }
  }

  &-image {
    max-width: 100%;
    margin: 0 auto;
    max-height: 70vh;
  }

  &-labels {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-current {
      display: flex;
      flex-direction: row;
    }
  }
}
