
.clt-LeftPane {
  position: fixed;
  top: 36px;
  left: 0;
  border-right: 1px solid #d3d3d3;
  width: 150px;
  height: 100vh;

  &-add-container {
    padding: 10px 5px 0 20px;
  }

  &-list-container {
    padding: 10px 5px 10px 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;

  }

  &-item {
    margin: 8px 0;
    cursor: pointer;
  }

  &-item:hover {
    color: #d3d3d3;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }
  &-item:active {
    color: #959595;
  }

  &--active {
    text-decoration: underline;
  }
}
