
.clt-LeftPane {
  border-right: 1px solid #d3d3d3;
  height: 100%;

  &-add-container {
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &-list-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;
  }

  .ant-list-item-action {
    margin-left: 5px;
  }

  &-name {
    width: 100%;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    cursor: pointer;
  }

  &-options {
    display: inline-flex;
    align-self: right;
    color: #fff;
  }

  &-options:hover {
    color: #000;
  }

  &-edit, &-delete {
    padding: 0 3px;
  }

  &-item:hover {
    // color: #d3d3d3;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }
  &--active {
    text-decoration: underline;
  }
}
