
.ant-layout-header {
  background: #fff !important;
  line-height: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.clt-NavBar {
  width: 100%;
  border-bottom: solid 1px #d3d3d3;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  line-height: 40px;
  background: #fff;
  padding: 0;
  -webkit-app-region: drag;

  &-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 400px;
    width: 400px;
  }

  &-title {
    margin-left: 100px;
  }

  &-divider {
    margin-left: 10px;
  }

  &-current {
    margin-left: 10px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-search-bar {
    height: 20px;
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  &-search-bar:focus-within {
    height: 28px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }

  .ant-input-search {
    height: 20px;
  }

  .ant-input-search:focus-within {
    height: 28px;
  }
}
