
.ant-layout-header {
  background: #fff !important;
  line-height: 40px !important;
  height: 40px !important;
  padding: 0 !important;
}

.clt-NavBar {
  width: 100%;
  border-bottom: solid 1px #d3d3d3;
  position: fixed;
  z-index: 1;
  line-height: 40px;
  background: #fff;
  padding: 0;
  -webkit-app-region: drag;

  &-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-title {
    margin-left: 100px;
  }

  &-divider {
    margin-left: 10px;
  }

  &-current {
    margin-left: 10px;
  }
}
