
.clt-Grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: calc(100% - 150px);
  position: absolute;
  left: 150px;

  &-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 10px;
    width: calc(100% - 100px);
    height: 100%;
    padding: 15px;
  }
}
