
.ant-layout-content {
  background: #fff;
}

.select__value-container {
  align-self: flex-start;
}

.clt-Grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-y: scroll;
  background: #fff;

  &-options-bar {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0 15px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff;
  }

  &-upload {
    margin-top: 40px;
    overflow: scroll;
  }

  &-add-labels {
    width: 350px;
  }

  &-delete-photos {
    margin-top: 2px;
    margin-left: 30px;
  }

  &-options-selector {
    display: flex;
    margin: 12px 0 0 15px;
  }

  &-apply-labels {
    margin-left: 15px;
    margin-top: 2px;
  }

  &-select-info {
    margin-top: 10px;
  }

  &-container {
    height: 100%;
    margin: 15px;

    .ReactVirtualized__Collection:focus {
      outline: none;
    }
  }
}
