html, body {
  margin: 0;
  padding: 0;
}

.clt-App {
  -webkit-user-drag: none;
  &:before, &:after {
    clear: both;
    content: '';
    display: table;
  }                

  width: 100vw;
  height: 100vh;
  margin: 0;
  h1 {
    margin: auto;
    display: block;
  }

  &-loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-mainContainer {
    position: absolute;
    top: 36px;
    height: 100%;
    width: 100%;
    display: flex;
  }
}
