
@import "~antd/dist/antd";
@import '~react-virtualized/styles';

@font-face {
  font-family: sweet-sans;
  src: url('../assets/font/SweetSansProRegular.otf') format('opentype');
}

@font-face {
  font-family: sweet-sans-bold;
  src: url('../assets/font/SweetSansProHeavy.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sweet-sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.clt-App {
  -webkit-user-drag: none;
  &:before, &:after {
    clear: both;
    content: '';
    display: table;
  }                

  width: 100vw;
  height: 100vh;
  margin: 0;
  h1 {
    margin: auto;
    display: block;
  }

  &-loading {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-mainContainer {
    position: absolute;
    top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  &-sider {
    background: #fff;
  }
}
